// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}

h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}

a
{
    color: inherit;
    text-decoration: none;

    &:hover
    {
        color: inherit;
    }
}

.bg-light-dark
{
    background-color: #444444;

    & *
    {
        color: white;
    }
}

.navbar-deco
{
    height: 40px; 
    background-color: #fbf034;
}

.logo
{
    max-height: 60px;
}

.logo-text
{
    font-weight: 500;
    color: #787878;
}

.custom-navbar
{
    font-size: 13px;
}


@include media-breakpoint-down(md)
{
    // We use middle breakpoint bois

    .logo-container
    {
        justify-content: center !important;
    }
}